<h1>Burger Muncher</h1>

<div class="image">
    <img src="assets/images/Burger-Muncher-Image.png">
</div>

<p>Enter a burger and watch it show up in the "Uneaten Burgers" list. Then click on "eat me" to
    enjoy it - and have it move to the "Eaten Burgers" list.</p>
<hr/>
<div id="uneatenList"
     class="leftSide">
    <h2>Uneaten Burgers</h2>
    <table style="width:100%">
        {{#each uneatenBurgers}}
            <tr>
                <td>
                    {{id}}. {{food}}
                </td>
                <td>
                    <form action="/{{id}}?_method=PUT"
                          method="POST">
                        <button class='eat-in-database'
                                id={{id}}>eat me
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
    <ul>

    </ul>
</div>
<div id="eatenList"
     class="rightSide">
    <h2>Eaten Burgers</h2>
    <ul>
        {{#each eatenBurgers}}
            <li>
                {{id}}. {{food}}
            </li>
        {{/each}}
    </ul>
</div>


<div id="inputArea">
    <hr/>
    <h2>Add a Burger</h2>
    <form class="create-update-form"
          action="/"
          method="POST">

        <div class="form-group">
            <label for="burgerName">Name your burger:</label>
            <br/>
            <input type="text"
                   id="burgerName"
                   name="name">
        </div>

        <!--<div class="form-group">-->
        <!--<label for="slee">Sleepy?</label><br>-->
        <!--<input type="radio" name="sleepy" value="1" checked> Sleepy!<br>-->
        <!--<input type="radio" name="sleepy" value="0"> Awake-->
        <!--</div>-->

        <button type="submit">Add Burger</button>
    </form>
</div>
<hr/>

